
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:wght@300&display=swap');

hr.new {
  border: 1px solid black;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: rgb(230 230 230);
  font-family: 'Josefin Sans', sans-serif;
}


.new-logo-event
{
top: 28%;
 max-width: 9%;
 position: absolute;
 margin-left: 80%;
 mix-blend-mode: multiply;
}


.info{
  margin: 50px 50px 50px 50px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 25px;
}

#info-p{
  padding-top: 1.5em;
  padding-left: 1.8em;
  padding-right: 1.8em;
  padding-bottom: 1.5em;
  margin: 0px;
  font-size: 24px;
}

#contact-container{
  background: rgba(255, 255, 255, 0.192);
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.2em;
  border-radius: 60px 60px 60px 60px;
}

.container{
  margin: 0 0 0 0;
  width: 40%;
  float: left;
}
/*footer social icons */
ul.social-network {
  list-style: none;
  display: inline;
  margin-left:0 !important;
  padding: 0;
}
ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/*footer social icons */

.social-network a.icoFacebook:hover {
  background-color:#3B5998;
}
.social-network a.icoGoogle:hover {
  background-color:#BD3518;
}
.social-network a.icoYoutube:hover{
  background-color:#FF0000;
}
.social-network a.icoLinkedIn:hover{
  background-color:#0072b1;
}
.social-network a.icoInstagram:hover {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );

}
.social-network a.icoFacebook:hover i, .social-network a.icoYoutube:hover i,.social-network a.icoLinkedIn:hover,
.social-network a.icoGoogle:hover i, .social-network a.icoInstagram:hover i {
  color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
  color:#44BCDD;
}

.social-circle li a {
  display:inline-block;
  position:relative;
  margin:0 auto 0 auto;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  border-radius:50%;
  text-align:center;
  width: 50px;
  height: 50px;
  font-size:20px;
}
.social-circle li i {
  margin:0;
  line-height:50px;
  text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.social-circle i {
  color: black;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.iconsbg {
  background-color: rgb(255, 255, 255);
}

#local-icon{
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}
#alt-aoc{
  margin: 5px 5px 5px 0;
}
h1{
  font-weight:600;
  margin: 0 auto;
  font-size: 40%;
}
form{
  padding-top: 20px;
  padding-bottom: 10px;
  margin: 0 10px 0 10px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 25px;
  
}
tbody{
  width: 400px;
}
label{
  font-weight: normal;
}
input[type=text]{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(219, 186, 0);
  border-radius: 5px;
  width: 300px;
}
textarea{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(219, 186, 0);
  border-radius: 5px;
  width: 300px;
}
textarea:focus, input:focus{
  outline: none;
  border-color: white;
}

td{
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 5px;
}
tr{
  padding-bottom: 50px;
}


table{
  margin: 0 auto;
}


input[type=submit] {
  background-color: #dde000;
  border: none;
  color: rgb(29, 29, 29);
  padding: 7px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
}

.Img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}


.Img:hover{
  opacity: 0.7;
}

.pictures{
  width:100%;
}

h3{
  margin: 0;
  margin-bottom: 5px;
  color: #ffd904;
  font-style:  bold;
}

.blocks-container{
  margin-left: 5%;
  margin-right: 5%;
}
.blocks{
  padding: 20px;
  margin: 25px auto;
  border-radius: 25px;
  border-style: solid ;
  background-color: #1f1f1f;
  width: 100%;
}

.cont{
  float:left;
  width: 100%;
  margin-bottom: 1.2em;
}

.poster{
  display:inline;
  width: 30%;
}
.event-desc{
  display: inline;
  float: right;
  color: #000;
  background-color: white;
  padding: 5em;
  width: 65%;
}
img{
  vertical-align: top;
}

h4{
  font-size: 28px;
  color: #000;
  display: inline;
  font-weight: 700;
  margin-bottom: 20px;
}
.desc-p{
  margin-top: 10px;
  font-size:18px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

h2{
  font-size: 36px;
  font-weight: 700;
}
/**** team template */
*, *:before, *:after {
  box-sizing:border-box;
}

.column-card {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover{
  border: solid 0.2px black;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2);
}
.card-container {
  padding: 0 16px;
}

.card-container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}


.card-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.card-button2 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgb(32, 23, 156);
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.card-button3 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #4285F4;
  text-align: center;
  cursor: pointer;
  width: 100%;
}


.card-button:hover {
  color: #000;
  background-color: rgba(255, 251, 5, 0.39);
}
.team-content{
  margin: 5em;
}
/**********/
/** gallery **/
.row {
  color: #000;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 100%; /* IE10 */
  flex: 33%;
  max-width: 100%;
  padding: 0 3px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
/*************/
/** HEADER **/
#header-nav {
  background-color: #050505;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../media/aoc-logo_medium.png') no-repeat;
  width: 100px;
  height: 100px;
  margin: 5px 5px 5px 0;
  
}  

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 30px;
  margin-right: 25px;
  font-size: 24px;
}
#nav-list a {
  color: white;
  text-align: center;
  border-bottom: solid transparent 3px;
}
#nav-list a:hover {  
  border-bottom-color: #e8fd2d;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */



#videoBG{
      width: 100%;
}

/* HOME PAGE */

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
  background: url('../media/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../media/specials-tile.jpg') no-repeat;
  background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

/* END HOME PAGE */

/* FOOTER */
section{
  color: white;
}
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
.address {
  font-size: 1.2em;
}
.address > span {
  font-size: 1.3em;
}


/* END FOOTER */

  
/********** Large devices only **********/
@media (min-width: 1200px) {
  #logo-img {
    background: url('../media/aoc-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
    
  }  
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../media/aoc-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }  
  #nav-list {
    font-size: 22px;
  }

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #nav-list {
    font-size: 20px;
  }
  #logo-img {
    background: url('../media/aoc-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  .cont{
    margin: auto;
    margin-bottom: 1.2em;
    float:none;
  }

}
@media (min-width : 300px) and (max-width :420px) {
  .event-desc
  {
    margin: 110%;
  }
  #neder {
    width: 100%;
  height: 100%;
  }
  
  .new-logo-event
  {
    top: 25%;
    max-width: 15%;
    position: absolute;
    margin-left: 50%;
    mix-blend-mode: multiply;
  }
  
}
/********** Extra small devices only **********/
@media (max-width: 767px) {
 
  
  #logo-img {
    background: url('../media/aoc-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    float: left;
  }
  /* Header */
  .navbar-toggle{
    margin-top: 30px;
    margin-right: 5px;
  }
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  .container{
    width: 100%;
    float:none;
  }

  #nav-list {
    margin:  0 0 0 0 ;
    font-size: 17px;
  }
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }
  .event-desc{
    margin : 1.1em 1.8em 0 0;
    float: right;
    width: 100%;
  }
.event-desc{
  margin: 0 auto 35px auto;

}
  .cont{
    float: none;
    margin: 0 auto;
    width: 100%;

  }
  .poster{
    margin: 0 auto;
    width: 100%;
  }
  .column-card {
    width: 100%;
    display: block;
  }
}

.sponsor{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  
}

.flexy{
  display: flex;
  justify-content: center;
  align-items: center;
}
